$backgroundColor: #ffffff;
$bodyColor: #000000;

body {
  background: $backgroundColor;
  color: $bodyColor;
  min-width: 300px;
}

.stopwatch__milliseconds {
  font-size: 2rem;
}

.stopwatch__typography {
  font-size: 2.5rem;
  font-family: 'Courier', 'Courier New', 'monospace';
}

.stopwatch__controls__button {
  min-width: 75px;
}


/* Media Queries */
@media (min-width: 576px) {
  .stopwatch__milliseconds {
    font-size: 2.5rem;
  }
  .stopwatch__typography {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .stopwatch__milliseconds {
    font-size: 3rem;
  }

  .stopwatch__typography {
    font-size: 3.5rem;
  }

  .stopwatch__controls__button {
    min-width: 95px;
  }

  .stopwatch__typography {
    font-size: 4rem;
  }
}
