$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  min-width: 300px;
}

.milliseconds {
  font-size: 2.5rem;
}

.stopwatch__typography {
  font-size: 3rem;
}


/* Media Queries */

@media (min-width: 992px) {
  .milliseconds {
    font-size: 3.5rem;
  }

  .stopwatch__typography {
    font-size: 4rem;
  }
}
